---
title: Easy Way To Build MIDI controllers
layout: default
---


{% include sections/about.html %}

{% include sections/configurator.html %}

{% include sections/offer.html offer-text="Extensive documentation for easy start." offer-link="https://github.com/shanteacontrols/OpenDeck/wiki" button-text="Documentation" %}

{% include sections/features.html %}

{% include sections/parallax-features.html %}

{% include sections/offer.html offer-text="Official board is sold out!" offer-link="https://www.tindie.com/products/paradajz/opendeck-diy-midi-platform/" button-text="Tindie store" %}

{% include sections/supported-boards.html %}

{% include sections/offer.html offer-text="Flash your board with OpenDeck firmware." offer-link="https://github.com/shanteacontrols/OpenDeck/wiki/Flashing-the-OpenDeck-firmware" button-text="Instructions" %}

{% include sections/portfolio.html %}

{% include sections/offer.html offer-text="Discuss. Ask. Request features." offer-link="https://github.com/shanteacontrols/OpenDeck/discussions" button-text="Discussions" %}

{% include sections/testimonials.html %}

{% include sections/blog.html %}

{% include sections/contact.html %}
