<!-- About Section -->
<section class="site-section about-section next-section-indicator" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.configurator-title }}</h2>
        <hr class="normal">
      </header>

       <!-- Section Content -->
       <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <h3>{{ site.configurator-description }}</h3>
        <hr class="normal">
      </div>

      <div class="cover" >
        <video controls>
          <source src="videos/OpenDeck_UI.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
      </div>

    </div>

  </div>
</section>
