<!-- Portfolio Section -->
<section class="site-section portfolio-section" id="portfolio">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.portfolio-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.portfolio-description }}</p>
      </div>

    </div>

    <div class="row filter-menu-wrapper">
      <div class="col-md-8 col-md-push-2">
        <div class="filter-menu">
          <ul>
            <li data-filter="all" class="current">All</li>
            {% for item in site.portfolio-categories %}
              <li data-filter="{{ item }}">{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div id="gallery-container">

      {% for item in site.portfolio %}

        <a  class="item"
            data-src="{{ site.baseurl }}/images/portfolio/{{ item.image }}" 
            data-categories="{% for category in item.categories %} {{ category }} {% endfor %}" 
            data-sub-html="<h2>{{ item.title }}</h2> <h3>Category: {{ item.categories | first }}</h3>">
          <img style="padding: 15px;" class="col-md-4 col-sm-6" src="{{ site.baseurl }}/images/portfolio/{{ item.image }}"/>
        </a>

      {% endfor %}

    </div>

  </div>
</section>

<script>
  (function(){
    let filters = document.querySelectorAll('[data-filter]');
    let items = document.querySelectorAll('[data-categories]');
    Array.prototype.slice.call(filters).map( filter => {
      filter.addEventListener("click", (e) => {
        e.preventDefault();

        Array.prototype.slice.call(filters).map( filter => {
          filter.classList.remove('current');
        });
        e.target.classList.add('current');

        let filterQuery = e.target.dataset['filter'];
        // show all
        if( filterQuery == "all" ){
          Array.prototype.slice.call(items).map( item => {
            item.classList.remove('hidden');
          });
        }else{
          Array.prototype.slice.call(items).map( item => {
            // show
            if( item.dataset.categories.indexOf(filterQuery) > -1 ){
              item.classList.remove('hidden');
            }
            // hide
            else{
              item.classList.add('hidden');
            }
          })
        }
      })
    });
  }())
</script>