<!-- Portfolio Section -->
<section class="site-section portfolio-section" id="portfolio">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.portfolio-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.portfolio-description }}</p>
      </div>

    </div>

    <div id="gallery-container">

      {% for item in site.portfolio %}

        <a class="item" data-src="{{ site.baseurl }}/images/portfolio/{{ item.image }}" data-sub-html="<h2>{{ item.title }}</h2> <h3>Category: {{ item.categories | first }}</h3>">
          <img style="padding: 15px;" class="col-md-4 col-sm-6" src="{{ site.baseurl }}/images/portfolio/{{ item.image }}"/>
        </a>

      {% endfor %}

    </div>

  </div>
</section>
