<!-- Prices Section -->
<section class="site-section prices-section" id="prices">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.pricing-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.pricing-description }}</p>
      </div>

    </div>

    <!-- Pricing Tables Container -->
    <div class="row pricing-tables-container">
      <div class="pricing-tables-wrapper clearfix">

        <!-- Pricing Table -->
        <div class="col-md-3 col-md-push-0 col-sm-4 col-sm-push-0 col-xs-8 col-xs-push-2">
          <div class="pricing-table">

            <!-- Plan Head -->
            <div class="plan-head">
              <h3 class="plan-title">{{ site.price-offer-1-title }}</h3>
              <hr class="normal">
              <p class="plan-subtitle"><span class="text-focus">{{ site.price-offer-1-price }}</span></p>
            </div>

            <!-- Plan Content -->
            <div class="plan-content">
              <h4 class="feature-content">{{ site.price-offer-1-info }}</h4>
            </div>

          </div>
        </div>

        <!-- Pricing Table -->
        <div class="col-md-3 col-md-push-0 col-sm-4 col-sm-push-0 col-xs-8 col-xs-push-2">
          <div class="pricing-table pricing-table-focus">

            <!-- Plan Head -->
            <div class="plan-head">
              <h3 class="plan-title">{{ site.price-offer-2-title }}</h3>
              <hr class="normal">
              <p class="plan-subtitle"><span class="text-focus">{{ site.price-offer-2-price }}</span></p>
            </div>

            <!-- Plan Content -->
            <div class="plan-content">
              <h4 class="feature-content">{{ site.price-offer-2-info }}</h4>
            </div>

          </div>
        </div>

        <!-- Pricing Table -->
        <div class="col-md-3 col-md-push-0 col-sm-4 col-sm-push-0 col-xs-8 col-xs-push-2">
          <div class="pricing-table">

            <!-- Plan Head -->
            <div class="plan-head">
              <h3 class="plan-title">{{ site.price-offer-3-title }}</h3>
              <hr class="normal">
              <p class="plan-subtitle"><span class="text-focus">{{ site.price-offer-3-price }}</span></p>
            </div>

            <!-- Plan Content -->
            <div class="plan-content">
              <h4 class="feature-content">{{ site.price-offer-3-info }}</h4>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
