<footer>
   <div class="footer-area clearfix">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="footer-logo pb-100 pt-100 text-center">
                  <a href="{{site.url}}">
                  {% if site.logo_url %}
                  <img src="{{site.logo_url}}" alt="{{site.title}}"/>
                  {% else %}
                  <img src="{{site.baseurl}}/images/logo_notext_inv.svg" alt="{{site.title}}"/>
                  {% endif %}
                  </a>
               </div>
            </div>
         </div>
         <div class="row pb-60">
            <div class="col-lg-3 col-md-6">
               <div class="footer-widget">
                  <div class="widget-title">
                     <h4> About </h4>
                  </div>
                  <div class="widget-text">
                     <p>{{site.blog-desc}}</p>
                     <div class="social-link">
                        <ul>
                           {% if site.facebook_username %}
                           <li><a href="https://facebook.com/{{site.facebook_username}}"><i class="fa fa-facebook-f"></i></a></li>
                           {% endif %}	
                           {% if site.facebook_username %}
                           <li><a href="https://twitter.com/{{site.twitter_username}}"><i class="fa fa-twitter"></i></a></li>
                           {% endif %}	
                           {% if site.facebook_username %}
                           <li><a href="https://plus.google.com/{{site.google_plus_username}}"><i class="fa fa-google-plus"></i></a></li>
                           {% endif %}	
                        </ul>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-lg-3 col-md-6">
               <div class="footer-widget">
                  <div class="widget-title">
                     <h4>Recent posts</h4>
                  </div>
                  <div class="widget-text">
                     <div class="r-post">
                        <ul>
                           {% for post in site.posts limit:4 %}
                           <li><a href="{{post.url}}">{{post.title}} </a> </li>
                           {% endfor %}
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6">
               <div class="footer-widget">
                  <div class="widget-title">
                     <h4> Links</h4>
                  </div>
                  <div class="widget-text">
                     <div class="widget-link">
                        <ul>
                        <ul>
                           <li><a href="/" target="_blank">Main page</a></li>
                           <li><a href="{{site.youtube}}" target="_blank">YouTube</a></li>
                           <li><a href="{{site.facebook}}" target="_blank">Facebook</a></li>
                           <li><a href="{{site.github}}" target="_blank">GitHub</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <div class="footer-text text-center">
                  <p class="footer-address"> &copy; {{ site.time | date: '%Y' }} {{ site.title }} | Developed by <a href="https://themeix.com">themeix</a></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>