<!-- Site Header -->
<header class="site-header blog-header parallax" id="home" data-scrollax-parent="true">

  <!-- Parallax Header Image -->
  <div class="parallax-wrapper">
    <div class="cover" data-scrollax="properties: { 'translateY': '48%' }">
      <img style="min-width: 100%;" src="{{ site.baseurl }}/images/blog/header.jpg"/>
    </div>
  </div>

  <div class="container">

    <!-- Site Navigation Bar -->
    <div class="row site-navigation-bar parent">

      <!-- Logo -->
      <div class="col-sm-2 col-xs-4 logo child-center-v">
        <a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/images/logo_notext.svg" width="70"></a>
      </div>

      <!-- Toggle Mobile Menu -->
      <div class="col-xs-8 toggle-menu child-center-v">

        <!-- Burger -->
        <div class="navTrigger">
          <i></i><i></i><i></i>
        </div>

      </div>

      <!-- Navigation Bar -->
      <div class="col-sm-10 col-xs-12 navigation-bar child-center-v">

        <!-- Navigation Menu -->
        <nav id="navMenu" class="nav-menu">
          <ul class="menu">
            <li><a href="{{ site.baseurl }}/#about">ABOUT</a></li>
            <li><a href="{{ site.baseurl }}/#features">FEATURES</a></li>
            <li><a href="{{ site.baseurl }}/#portfolio">GALLERY</a></li>
            <li><a href="{{ site.baseurl }}/#testimonials">TESTIMONIALS</a></li>
            <li class="current-menu-item"><a href="{{ site.baseurl }}/#blog">BLOG</a></li>
            <li><a href="{{ site.baseurl }}/#prices">OFFERS</a></li>
            <li><a href="{{ site.baseurl }}/#contact">CONTACT</a></li>
          </ul>
        </nav>

      </div>

    </div>

    <!-- Site Header Banner -->
    <div class="row header-banner parent" data-scrollax="properties: { 'translateY': '48%', 'opacity': '1.4' }">

      <div class="heading-content text-center child-center-v">

        <!-- Heading Title -->
        <div class="row heading-title">
          <h2>Shantea Controls</h2>
          <hr class="small">
          <h1 class="thin">{{ page.title }}</h1>
        </div>

      </div>

    </div>

  </div>
</header>
