---
layout: blog
---

{% include page-title.html %}
<div class="post-content-area pb-100 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="s-post-details">
          {% if page.image %}
          <div class="post-image mb-4">
            <img
              class="mx-auto d-block"
              src="{{ site.baseurl }}/images/blog/{{page.image}}"
              alt="{{page.title}}"
            />
          </div>
          {% endif %}

          <div class="entry-content">{{page.content}}</div>
          <div class="inner-padding fullwidth pb-60">
            <div class="post-share-icon clearfix">
              <div class="tag-list">
                <div class="row">
                  <div class="col-md-8">
                    <p class="float-left pr-2"><strong>Tags :</strong></p>
                    <ul class="float-left">
                      {% for tag in page.tags %} {% capture tag_name %}{{ tag
                      }}{% endcapture %}
                      <li>
                        <a href="/tag/{{tag_name}}/blog.html"> #{{tag_name}}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="categories-carousel pb-60 clearfix">
          <div class="section-title">
            <h3>Related Posts</h3>
          </div>
          {% include related_posts_carousel.html %}
        </div>
      </div>
    </div>
  </div>
</div>
