---
layout: page
---

<!-- Blog Article -->
<div class="post-full">
  <article class="blog-article blog-single-page clearfix">

    <!-- Article Header -->
    <header class="article-header">
      <div class="img-wrap">
        <img src="{{ site.baseurl }}/images/blog/{{ page.image }}" alt="Article Blog Image">
      </div>
    </header>

    <!-- Article Content -->
    <article class="markdown-body">
      {{ page.content }}
    </article>

    <!-- Article Tool Boxes -->
    <div class="article-boxes">

      <!-- Tags Box -->
      <div class="tags-article box">
        <span class="title">Tags:</span>
        <ul class="tag-cloud-box box-content">
          {% assign tags_list = page.tags %}
            {% if tags_list.first[0] == null %}
              {% for tag in tags_list %}
                <li><a href="{{ site.baseurl }}/tag/{{ tag | slugify }}">{{ tag }}</a></li>
              {% endfor %}
            {% else %}
              {% for tag in tags_list %}
                <li><a href="{{ site.baseurl }}/tag/{{ tag[0] | slugify }}">{{ tag[0] }}</a></li>
              {% endfor %}
            {% endif %}
          {% assign tags_list = nil %}
        </ul>
      </div>

      {% if page.comments %}
      <div id="hyvor-talk-view"></div>
      <script type="text/javascript">
          var HYVOR_TALK_WEBSITE = 4484;
          var HYVOR_TALK_CONFIG = {
            url: '{{ page.url | absolute_url }}',
            id: '{{page.id}}'
          };
      </script>
      <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
      {% endif %}

    </div>

  </article>
</div>
